.part_five{
    text-align: center;
    margin-top:40px;
}
.part_five h1{
    font-size: 45px;
    color: black;
}
.part_five p{
    margin-top: 25px;
}
.photos{
    margin-top: 10px;
}
.photos img{
    margin: 10px;
}
@media(max-width:550px){
    .part_five h1{
        font-size: 35px;
    }
    .part_five br{
        display: none;
    }
    .part_five p{
        font-size: 16px;
        margin-left: 10px;
    }
}
